.BrdHeaderSort {
  display: flex;
  align-items: center;
}
.label {
  font-weight: 400;
  margin-right: 0.45em;
}
.color {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 4px;
}