.BrdTextArea {
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid transparent;
  &:focus {
    outline: none;
    border-color: #85b7d9;
  }
  &.border {
    border-color: rgba(34,36,38,.15);
    &:focus {
      border-color: #85b7d9;
    }
  }
}