.card {
  background-color: #eee; 
  padding: 20px;
  width: 300px;
  margin: 0 20px 20px;
  font-size: 16px;
  line-height: 2;
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.5);
  cursor: pointer;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  &:hover {
    opacity: 0.8;
  }
}

.description {
  font-size: 14px;
  font-weight: 400;
  text-align: right;
}