.BrdModal {
  &.overlay {
    &:before {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vw;
      background-color: rgba(0,0,0,0.1);
    }
  }
}

.inner {
  position: absolute;
  top: 70px;
  right: 70px;
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}